/* Place CSS styles here */
body {
    color:black;
    background-color: cornsilk;
    font-size: 66px;
    font-weight: 200;
    text-align: center;
    font-family: Helvetica;
    background-image: url(../img/istockphoto-481811379-612x612.jpg);
}

.snow-day {
    color: darkblue;
}

.snow-angel {
    border: 10px solid white;
}